<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>686636921631-qovt611vdbg3muc1f4hcpbj6bv9virki.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.686636921631-qovt611vdbg3muc1f4hcpbj6bv9virki</string>
	<key>API_KEY</key>
	<string>AIzaSyADvimLtP_jyHl4bX_vf12X2WhpvSRkoj8</string>
	<key>GCM_SENDER_ID</key>
	<string>686636921631</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appFinancy</string>
	<key>PROJECT_ID</key>
	<string>financy-app-dmais</string>
	<key>STORAGE_BUCKET</key>
	<string>financy-app-dmais.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:686636921631:ios:f4c216cb518647531f362a</string>
</dict>
</plist>